#root {
  max-width: 1280px;
  width: 40%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
}

body {
  background-color: #ffffff;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.card {
  margin: 0 auto;
  padding: 1rem;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.fa-brands {
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: #242424;
}

.card1 {
  padding: 2rem;
  border: 5px solid #b25f01;
  border-radius: 5%;
  background-image: url("./src/assets/logo/Logo1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.redes {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-items: center;
}

.redes :hover {
  color: #b25f01;
  cursor: pointer;
}

.titulo {
  font-size: 4rem;
  color: #ffffff;
}

.subtitulo {
  margin-top: 1rem;
  background-color: black;
  font-size: 2rem;
  color: #ffffff;
}